USE [LaboratorioBD]
GO
/****** Objeto: Table [dbo].[DetallePerfumes] Fecha de script: 10/05/2026 15:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DetallePerfumes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DetallePerfumes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PerfumeId] [int] NOT NULL,
	[EsenciaId] [int] NOT NULL,
	[CantidadMl] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[Envases] Fecha de script: 10/05/2026 15:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Envases]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Envases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CapacidadMl] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[MateriasPrimas] Fecha de script: 10/05/2026 15:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MateriasPrimas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MateriasPrimas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioPorMl] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[Perfumes] Fecha de script: 10/05/2026 15:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Perfumes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Perfumes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [nvarchar](100) NOT NULL,
	[EmailCliente] [nvarchar](100) NOT NULL,
	[EnvaseId] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[PrecioTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[Envases])
BEGIN
    SET IDENTITY_INSERT [dbo].[Envases] ON 
    INSERT [dbo].[Envases] ([Id], [Nombre], [CapacidadMl], [Precio]) VALUES (1, N'Cubo Minimalista', 20, CAST(50.00 AS Decimal(10, 2)))
    INSERT [dbo].[Envases] ([Id], [Nombre], [CapacidadMl], [Precio]) VALUES (2, N'Diamante Tallado', 30, CAST(80.00 AS Decimal(10, 2)))
    INSERT [dbo].[Envases] ([Id], [Nombre], [CapacidadMl], [Precio]) VALUES (4, N'Frasco Negro', 30, CAST(12.40 AS Decimal(10, 2)))
    SET IDENTITY_INSERT [dbo].[Envases] OFF
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[MateriasPrimas])
BEGIN
    SET IDENTITY_INSERT [dbo].[MateriasPrimas] ON 
    INSERT [dbo].[MateriasPrimas] ([Id], [Nombre], [PrecioPorMl], [Activo]) VALUES (1, N'Alcohol', CAST(0.15 AS Decimal(10, 2)), 1)
    INSERT [dbo].[MateriasPrimas] ([Id], [Nombre], [PrecioPorMl], [Activo]) VALUES (2, N'Lavanda', CAST(1.00 AS Decimal(10, 2)), 1)
    INSERT [dbo].[MateriasPrimas] ([Id], [Nombre], [PrecioPorMl], [Activo]) VALUES (3, N'Sandalo', CAST(1.25 AS Decimal(10, 2)), 1)
    SET IDENTITY_INSERT [dbo].[MateriasPrimas] OFF
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MateriasP__Activ__5EBF139D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MateriasPrimas] ADD  DEFAULT ((1)) FOR [Activo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Perfumes__FechaC__619B8048]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Perfumes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Detalle_Esencias]') AND parent_object_id = OBJECT_ID(N'[dbo].[DetallePerfumes]'))
ALTER TABLE [dbo].[DetallePerfumes]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Esencias] FOREIGN KEY([EsenciaId])
REFERENCES [dbo].[MateriasPrimas] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Detalle_Esencias]') AND parent_object_id = OBJECT_ID(N'[dbo].[DetallePerfumes]'))
ALTER TABLE [dbo].[DetallePerfumes] CHECK CONSTRAINT [FK_Detalle_Esencias]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Detalle_Perfumes]') AND parent_object_id = OBJECT_ID(N'[dbo].[DetallePerfumes]'))
ALTER TABLE [dbo].[DetallePerfumes]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Perfumes] FOREIGN KEY([PerfumeId])
REFERENCES [dbo].[Perfumes] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Detalle_Perfumes]') AND parent_object_id = OBJECT_ID(N'[dbo].[DetallePerfumes]'))
ALTER TABLE [dbo].[DetallePerfumes] CHECK CONSTRAINT [FK_Detalle_Perfumes]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Perfumes_Envases]') AND parent_object_id = OBJECT_ID(N'[dbo].[Perfumes]'))
ALTER TABLE [dbo].[Perfumes]  WITH CHECK ADD  CONSTRAINT [FK_Perfumes_Envases] FOREIGN KEY([EnvaseId])
REFERENCES [dbo].[Envases] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Perfumes_Envases]') AND parent_object_id = OBJECT_ID(N'[dbo].[Perfumes]'))
ALTER TABLE [dbo].[Perfumes] CHECK CONSTRAINT [FK_Perfumes_Envases]
GO
